.menu-bar, .contributed-block {
    position: fixed;
    background: #fff;
    box-shadow: 0 -5px 5px 0 rgb(0 0 0 / 10%);
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 10px 35px;
    border-radius: 12px 12px 0 0;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.menu-bar a:hover, .menu-bar a.active {
    color: #007c1b;
}

a, h1, h2, h3, h4, h5, h6, p, span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: 0;
}

a, b, div, ul, li {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.menu-bar a i {
    width: 35px;
    height: 35px;
    line-height: 25px;
    padding: 5px;
    /* border: 1px solid #ebebeb; */
    margin: 0 0 4px;
    /* border-radius: 50%; */
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-image, .bg-parallax {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.section-title {
    background-image: url(../images/titleMask.svg);
    background-color: #0ba706;
    padding: 20px 10px 30px 10px;
    /* padding: 15px; */
    /* border-radius: 0 0 12px 12px; */
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

user agent stylesheet section {
    display: block;
}

a, b, div, ul, li {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none;
}

.entry-section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a, b, div, ul, li {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none;
}

.entry-section-title>div {
    display: flex;
    align-items: center;
}

.entry-section-title h1 {
    font-size: 18px;
    margin: 0;
    display: inline-block;
}

.color-white, .blue-bg-v2, .waqf-single-event-wraper .waqf-event-details .waqf-post-title:hover {
    color: #fff;
}

a, h1, h2, h3, h4, h5, h6, p, span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #078787;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.entry-section-title>div {
    display: flex;
    align-items: center;
}

a, b, div, ul, li {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none;
}

.entry-section-title .btnBars.rounded {
    width: auto;
}

.entry-section-title .btnBars {
    /* background: #fff; */
    /* color: #1EA7AC; */
    font-size: 25px;
    /* font-weight: 700; */
    width: 35px;
    height: 35px;
    padding: 5px;
    line-height: 25px;
    text-align: center;
    border: none;
    position: relative;
    display: inline-block;
}

.entry-section-title a {
    color: #fff;
    margin-left: 10px;
}

.rounded {
    border-radius: .25rem !important;
}

a, h1, h2, h3, h4, h5, h6, p, span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: 0;
}

a, b, div, ul, li {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -moz-outline-: none;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.list-ele {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 0px 10px;
    margin: 5px;
}

.list-ele:hover {
    background-color: #4c16ca;
}

#copyR {
    /* CopyRight for Qari.Net */
    font-weight: bold;
    /* Qari.net */
}